@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Liter&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
*,
::before,
*::after {
  box-sizing: border-box;
}
.container {
  padding: 20px 0;
}
html,
body {
  font-family: "Montserrat", serif;
  background: linear-gradient(45deg, #000000, #2f00ff, #000000, #00a2ff);
  background-size: 300% 300%;
  animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
